<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/../static/css/github.min.css">
    <link rel="stylesheet" href="/../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/lodash.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">    <script src="/static/js/markdown-it.js"></script>
    <script src="/static/js/twemoji.min.js"></script>

    <title>AHK - A Hacker Knowledge</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">AHK - A Hacker Knowledge</a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>

    

    <div class="upper-content" id="">
      <button type="button" class="btn btn-outline-dark" id="btn-edit">Edit</button>
      <div class="row full-height">
        <div class="col-sm-6 full-height" id="source-container">
          <form method='POST' action="{{ path }}" class="full-height">
            <textarea class="source full-height" name="content">{{ content }}</textarea>
            <button type="submit" class="btn btn-outline-success" id="btn-update">Save</button>
            <a href="{{ path }}" class="btn btn-outline-danger" id="btn-cancel">Cancel</a>
          </form>
        </div>
        <div class="col full-height" id="result-container">
          <div class="result-html full-height"></div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function (){
      $("#btn-edit").on('click', function (){
        if (!$("#source-container").is(':visible')){
          $("#source-container").show();
          $(".upper-content").addClass("full-height container");
          $("#result-container").removeClass("col").addClass("col-sm-6");
          $("#btn-edit").hide();
        }
      });
    });
  </script>
</html>
