{% extends 'base.html' %}

{% block header %}
<script src="{{ url_for('static', filename='js/lodash.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block data %}
  <div class="cr-edit">
    <button type="button" class="btn btn-outline-dark" id="btn-edit">Edit</button>
    <button type="button" class="btn btn-outline-success" id="btn-create" onclick="window.location.href='/create'">Create</button>
  </div>
  <div class="upper-content" id="">
    {% if isContent %}
    {% endif %}
    <div class="row full-height">
      <div class="col-sm-6 full-height" id="source-container">
        <form method='POST' action="{{ path }}" class="full-height">
          <textarea class="source full-height" name="content">{{ content }}</textarea>
          <button type="submit" class="btn btn-outline-success" id="btn-update">Save</button>
          <a href="{{ path }}" class="btn btn-outline-danger" id="btn-cancel">Cancel</a>
        </form>
      </div>
      <div class="col full-height" id="result-container">
        <div class="result-html full-height"></div>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function (){
        $("#btn-edit").on('click', function (){
          if (!$("#source-container").is(':visible')){
            $("#source-container").show();
            $(".upper-content").addClass("full-height container");
            $("#result-container").removeClass("col").addClass("col-sm-6");
            $("#btn-edit").hide();
            $('#btn-create').hide();
          }
        });
      });
  </script>
{% endblock %}